<% content_for :title do %>
  <%= "#{@adapted_page.title} by Helsinki" %>
<% end%>


<p id="notice"><%= notice %></p>
    <% if @adapted_page.logo_src %>
    <div id="homeheader">
      <h1 id="logo"><img src="<%=resolve(@adapted_page.logo_src, @adapted_page.url)%>" alt="Logo"></h1>
    </div>
  <% end %>
  <div id="page-content">
  <%= sanitize @adapted_page.page_content %>
  </div>
  <% content_for :footer do %>
    <h4><%= link_to 'Original page', @adapted_page.url %> |
<%= link_to 'Next', next_page_adapted_pages_path %> </h4>
  <% end %>

