<% content_for :title do %>
  <%= "#{@adapted_page.title} by Helsinki" %>
<% end%>


<p id="notice"><%= notice %></p>
<%content_for :logo do %>
    <% if @adapted_page.logo_src %><img src="<%=resolve(@adapted_page.logo_src, @adapted_page.url)%>" alt="Logo" /> by Helsinki
    <%else%>
    Helsinki
    <% end %>
  <% end %>
  <div id="page-content">
  <%= sanitize @adapted_page.page_content %>
  </div>
  <% content_for :footer do %>
    <%= link_to 'Original page', @adapted_page.url %> |
<%= link_to 'Next', next_page_adapted_pages_path, :rel =>  "external" %>
  <% end %>

