<!DOCTYPE html> 
<html> 
	<head> 
	<title><%= yield :title %></title> 
	
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />  

<link rel="stylesheet" href="/mobile.css" />  
	<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script> 
</head> 
<body> 
<!--Main page-->
<div data-role="page" data-theme="b">

<div data-role="header" data-position="inline" data-nobackbtn="true">
  <%= link_to "Options", page_sources_path,  "data-icon"=>"gear", :class=>"ui-btn-left" -%>
  <h1><%= link_to yield(:logo), view_links_page_source_path(@page_source) -%></h1>
<%= render :partial=>'devise/shared/sign_in_or_out' -%>
</div>

<div data-role="content" data-theme="c">
  <%= yield %>
</div>
	<div data-role="footer">
    <%= yield :footer%>
	</div>
</div><!-- /page -->



	<!-- /content -->


</div>
</body>
</html>	