<!DOCTYPE html> 
<html> 
	<head> 
	<title><%= yield :title %></title> 
	
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />  

<link rel="stylesheet" href="/mobile.css" />  
	<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script> 
</head> 
<body> 
<!--Main page-->
<div data-role="page" data-theme="b">
<div data-role="header">
 <h3>
   Helsinki | 
 <% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path) %>        
<% else %>
  <%= link_to('Login/Signup', new_user_session_path)  %>  
<% end %>
</h3>
</div> 

<div data-role="content">
  <%= yield %>
</div>
	<div data-role="footer">
    <%= yield :footer%>
	</div>
</div><!-- /page -->



	<!-- /content -->


</div>
</body>
</html>	